<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main style="background: #6a11cb;">

    <div class="container"> 
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
  
      <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Profile</h2>
                    <p class="text-white-50 mb-5">
                      <!--<%= //username %> -->
                    </p>
                    <table style="height: 250px; width: 100%;">
                      <tr>
                        <th style="text-align: left;">
                          First Name
                        </th>
                        <td>
                          <!--<%= //firstName %>-->
                        </td>
                      </tr>
                      <tr>
                        <th style="text-align: left;">
                          Last Name
                        </th>
                        <td> 
                          <!--LAST NAME-->
                        </td>
                      </tr>
                      <tr>
                        <th style="text-align: left;">
                          Email
                        </th>
                        <td>
                          <!--EMAIL-->
                        </td>
                      </tr>

                      <tr>
                        <th style="text-align: left;">
                          Parties Attended
                        </th>
                      </tr>
                      <tr>
                        <th style="text-align: left;">
                          Parties Hosted
                        </th>
                      </tr>
                    </table>

      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

<%- include ('../partials/footer') %>